.tr-csad .tr-card{
    transition: 0.3s ease;
}


.tr-csad .tr-card{
    border-radius: 20px;
}

.tr-csad .tr-card > p{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(249, 252, 210, 0.906)
}



.tr-csad .tr-card li:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #9d9d9d;
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.tr-csad .tr-card:hover{
    transform: scale(1.02) ;
    transition: transform 0.3s ease;
}

